html, body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  display: -webkit-flex;
  -webkit-flex-direction: column;

  display: -ms-flexbox;
  -ms-flex-direction: column;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-width: : 100vw;
}

button {
  background: none;
  border: 0;
  outline: 0;
  color: white;
}

.lifecounter {
  display: -webkit-box;
  -webkit-box-flex: 1;

  display: -webkit-flex;
  -webkit-flex: 1;

  display: -ms-flexbox;
  -ms-flex: 1;

  display: flex;
  flex: 1;
}

.player {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  display: -webkit-flex;
  -webkit-flex-direction: column;

  display: -ms-flexbox;
  -ms-flex: 1;
  -ms-flex-direction: column;

  display: flex;
  flex: 1;
  flex-direction: column;
}

.player .buttons {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;

  display: -ms-flexbox;
  -ms-flex: 1;
  -ms-flex-direction: column;

  display: flex;
  flex: 1;
  flex-direction: column;  
}

.player .player-life-up,
.player .player-life-total,
.player .player-life-down {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.player-life-total {
  font-size: 6em;
  font-weight: bold;
}

.player-life-up,
.player-life-down {
  font-size: 3em;
}

.blue {
    color: rgb(0, 112, 224);
}

.lightblue {
    color: rgb(15, 147, 249);
}

.orange {
    color: rgb(255, 140, 0);
}